{% extends 'dashboard.html' %}
{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <span>Course</span>
            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Attendance
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                        <a href="{%url 'createattendance' id=bcfid.bcf_id%}"><input type="submit" value="Add Attendance" class="btn btn-success"/></a><br><br>
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Option</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for attendance in attendances%}
                                           <tr>
                                                    <td>{{attendance.at_id}}</td>
                                                    <td>{{attendance.at_name}}</td>
                                                    <td>{{attendance.at_date}}</td>
                                                    <td>
                                                        <a href="{%url 'attendancerecord' id=attendance.at_id%}"><input type='submit' value='Attendance Record' class='btn btn-success'/></a>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                                
                                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}