
{% extends 'dashboard.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <span>Table</span>
            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Batch Details
                        </h2>
                    </div>
                    <div class="body" >
                        <div class="table-responsive" >
                        
                        {% comment %} <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style=" float:right;" hidden>   {% endcomment %}
                        
                           
                                <div class="col-sm-7"  >
                                    <a href="{% url 'createbatch' %}"><input type="submit" value="Add New Batch" class="btn btn-success"/></a>
                                    
                                </div>
                                
                                <div class="col-sm-2" >
                                    <label>Filter by program:</label>
                                </div>
                                <div class="col-sm-3" style="margin-left:-4vw;">
                                    
                                    <select class="form-control show-tick" id="myInput" onchange="myFunction()">
                                        <option value="">All</option>
                                        {%for program in programs%}
                                        <option value="{{program.p_name}}">{{program.p_name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                           
                        

                        
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Program</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                            {% for batch in batchs%}
                                               <tr>
                                                   <td>{{batch.b_id}}</td>
                                                    <td>{{batch.b_name}}</td>
                                                    <td>{{batch.b_programid}}</td>
                                                    <td>
                                                        <a href='updatebatch/{{batch.b_id}}'><input type='submit' value='Update' class='btn btn-info'/></a>&nbsp&nbsp
                                                        <a href='deletebatch/{{batch.b_id}}'><input type='submit' value='Delete' class='btn btn-danger'/></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# 1 Basic Examples -->
        </div>
</section>
{% endblock body %}
{%block script%}
<script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

{%endblock script%}