
{% extends 'dashboard.html' %}
{% block body %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Course</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add New Assignment
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                            <form method="post" enctype="multipart/form-data">    
                                {% csrf_token %}
                                <label>Assignment Title</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="txtname" class="form-control" placeholder="Enter Assignment Title" required/>
                                    </div>
                                </div>
                                <label>Description</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" name="txtdesc" class="form-control no-resize" placeholder="Description..." required></textarea>
                                    </div>
                                </div>
                                <label>Start Time and Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                    <input type="datetime-local" name="stdate" class="form-control inputelement" placeholder="Enter Start Date" required />
                                    </div>
                                </div>
                                <label>End Time and Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                    <input type="datetime-local" name="enddate" class="form-control inputelement" placeholder="Enter End Date" required />
                                    </div>
                                </div>
                                <label>Marks</label>
                                <div class="form-group">
                                    <div class="form-line">
                                    <input type="text" name="txtmark" class="form-control inputelement" placeholder="Enter Marks" required />
                                    </div>
                                </div>
                                <label>Upload File</label>
                                <div class="form-group">
                                    <div class="form-line ">
                                        <input name="File" type="file" />
                                    </div>
                                </div>
                                <input type="submit" name="btninsert" value="Insert" class="btn btn-success" />
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->
    </div>
</section>
{% endblock body %}