{% extends 'dashboard.html' %}
{%block tabs%}
<ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    {%if userrole == "Admin"%}
    <li>
       
        <a href="{% url 'adminhome' %}">
            
            
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li class="active">
       
        
            
            <a href="{% url 'facultyhome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
       
            <a href="{% url 'studenthome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {% endif %}
    {%if userrole == "Admin"%}
    <li>
        <a href="{% url 'adminprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li>
        <a href="{% url 'facultyprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
        <a href="{% url 'studentprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%endif%}
    {% if userrole == "Admin"%}
    <li >
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">view_list</i>
            <span>Tables</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="{% url 'batch'%}">Batch</a>
            </li>
            <li>
                <a href="{%url 'bcf'%}">Batch Faculty</a>
            </li>
            <li>
                <a href="{% url 'course'%}">Course</a>
            </li>
            <li>
                <a href="{%url 'faculty'%}">Faculty</a>            
            </li>
            <li>
                <a href="{% url 'program' %}">Programs</a>
            </li>
            <li>
                <a href="{% url 'student'%}">Student</a>            
            </li>
        </ul>
    </li> 
    {% elif userrole == "Faculty" %}
    
    
    
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            <li>
                <a href='/faculty/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}}</a>
            </li>
            {%endfor%}
        </ul>
    </li>
    {% else %}
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            <li>
                <a href='/student/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}}</a>
            </li>
            {%endfor%}
        </ul>
    </li>
    {% endif %}
    
</ul>
{%endblock tabs%}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <span>HOME</span>
            </h2>
            <br>
            <h2> In Progress </h2>
        </div>
        
                            {% for bcf in bcf%}
                            {%if bcf.bcf_status == "In Progress"%}
                            <a href ="/faculty/coursegallery/{{bcf.bcf_id}}"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header bg-cyan">
                                        <h2>
                                           {{bcf.bcf_courseid}}
                                        </h2>
                                    </div>
                                    <div class="body">
                                       Batch : {{bcf.bcf_batchid}}
                                    </div>
                                </div>
                            </div></a>
                            {%endif%}
                        {%endfor%}
                    
                                    
                                
        
    </div>
    <div class="container-fluid">
        <div class="block-header">
            
            <br>
            <h2> Completed  </h2>
        </div>
                            
                            {% for bcf in bcf%}
                            {%if bcf.bcf_status == "Completed"%}
                            <a href ="/faculty/coursegallery/{{bcf.bcf_id}}"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header bg-green">
                                        <h2>
                                           {{bcf.bcf_courseid}}
                                        </h2>
                                    </div>
                                    <div class="body">
                                       Batch : {{bcf.bcf_batchid}}
                                    </div>
                                </div>
                            </div></a>
                            {%endif%}
                        {%endfor%}
                    
                                    
                                
        
    </div>
</section>
{% endblock body %}