
{% extends 'dashboard.html' %}
{%block head%}
<style>
    #preloader {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: none;
    }
    .preloader.pl-size-xl {
       
        position: absolute;
        
        left: 50vw;
        top: 50vh;
    }
</style>
{%endblock head%}
{%block tabs%}
<ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    {%if userrole == "Admin"%}
    <li>
       
        <a href="{% url 'adminhome' %}">
            
            
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li>
       
        
            
            <a href="{% url 'facultyhome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
       
            <a href="{% url 'studenthome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {% endif %}
    {%if userrole == "Admin"%}
    <li>
        <a href="{% url 'adminprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li>
        <a href="{% url 'facultyprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
        <a href="{% url 'studentprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%endif%}
    {% if userrole == "Admin"%}
    <li >
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">view_list</i>
            <span>Tables</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="{% url 'batch'%}">Batch</a>
            </li>
            <li>
                <a href="{%url 'bcf'%}">Batch Faculty</a>
            </li>
            <li>
                <a href="{% url 'course'%}">Course</a>
            </li>
            <li>
                <a href="{%url 'faculty'%}">Faculty</a>            
            </li>
            <li>
                <a href="{% url 'program' %}">Programs</a>
            </li>
            <li>
                <a href="{% url 'student'%}">Student</a>            
            </li>
        </ul>
    </li> 
    {% elif userrole == "Faculty" %}
    
    
    
    <li class="active">
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            {%if bcf.bcf_id == bcfid.bcf_id%}
            
            <li class="active">
                <a href='/faculty/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}} </a>
            </li>
            {%else%}
            <li>
                <a href='/faculty/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}} </a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>
    </li>
    {% else %}
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            <li>
                <a href='/student/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}}</a>
            </li>
            {%endfor%}
        </ul>
    </li>
    {% endif %}
    
</ul>
{%endblock tabs%}

{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <span>Course: {{bcfid.bcf_courseid}}</span>
            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                          Received : {{assignments.a_name}}   
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                       
                        <h3>Total Marks:{{assignments.a_mark}}</h3> 
                        <br><br>
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Registration Number</th>
                                        <th>Assignment End Date/Time</th>
                                        <th>Submitted Date/Time</th>
                                        <th>Obtained Marks</th>
                                        <th>File</th>
                                        <th>Plagiarism Percentage</th>
                                        <th>Status</th>
                                        {%if bcfid.bcf_status == "In Progress"%}
                                        <th>Option</th>
                                        {%endif%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for student,assignmentsubmit in assignmentreceived%}
                                        <tr>
                                                <td>{{student.user.first_name}}</td>
                                                <td >{{student.s_regno}}</td>
                                                <td>{{assignments.a_enddate}}</td>
                                                <td>
                                                    {%if assignmentsubmit.as_date is None%}
                                                    Not Submitted
                                                    {%else%}
                                                    {{assignmentsubmit.as_date}}
                                                    {%endif%}
                                                </td>
                                                <td>{%if assignmentsubmit.as_marks is None%}
                                                    Not Entered
                                                    {%else%}
                                                    {{assignmentsubmit.as_marks}}
                                                {%endif%}</td>
                                                <td> <a href="{{assignmentsubmit.as_file.url}}" download> {{assignmentsubmit.as_file|cut:'submitassignments/'}} </a></td>
                                                <td>{%if assignmentsubmit.as_plagiarismpercent is not None%}{{assignmentsubmit.as_plagiarismpercent}}%{%else%}{%endif%}</td>
                                                <td>{%if assignments.a_enddate < assignmentsubmit.as_date%}
                                                    Late
                                                    {%elif assignments.a_enddate > assignmentsubmit.as_date%}
                                                    On Time
                                                    {%else%}
                                                    Not Submitted
                                                    {%endif%}
                                                </td>
                                                {%if bcfid.bcf_status == "In Progress"%}
                                                <td>
                                                    
                                                    {%if assignmentsubmit.as_id is not None%}
                                                    <a href="{%url 'updateassignmentmarks' id=assignmentsubmit.as_id%}"><input type='submit' value='Upload Marks' class='btn btn-info'/></a><br><br>
                                                    {%if assignmentsubmit.as_plagiarismpercent is not None%}
                                                    {%else%}
                                                    <a href="{%url 'plagiarismchecker' id=assignmentsubmit.as_id%}"><input type='submit' onclick="showPreloader()" value='Plagiarism Check' class='btn btn-success'/></a>{%endif%} 
                                                    {%else%}
                                                    {%endif%}
                                                </td>
                                                {%endif%}

                                            </tr>
                                            
                                       {%endfor%}
                                </tbody>
                            </table>
                            <div id="preloader">
                                <div class="preloader pl-size-xl">
                                    <div class="spinner-layer">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
{%block script%}
<script>
    function showPreloader() {
      var preloader = document.getElementById("preloader");
      preloader.style.display = "block";
    }
  </script>
{%endblock script%}