
{% extends 'dashboard.html' %}
{%block tabs%}
<ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    {%if userrole == "Admin"%}
    <li>
       
        <a href="{% url 'adminhome' %}">
            
            
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li>
       
        
            
            <a href="{% url 'facultyhome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
       
            <a href="{% url 'studenthome' %}">
                
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>            
    </li>
    {% endif %}
    {%if userrole == "Admin"%}
    <li>
        <a href="{% url 'adminprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Faculty"%}
    <li>
        <a href="{% url 'facultyprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%elif userrole == "Student"%}
    <li>
        <a href="{% url 'studentprofile' %}">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>            
    </li>
    {%endif%}
    {% if userrole == "Admin"%}
    <li >
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">view_list</i>
            <span>Tables</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="{% url 'batch'%}">Batch</a>
            </li>
            <li>
                <a href="{%url 'bcf'%}">Batch Faculty</a>
            </li>
            <li>
                <a href="{% url 'course'%}">Course</a>
            </li>
            <li>
                <a href="{%url 'faculty'%}">Faculty</a>            
            </li>
            <li>
                <a href="{% url 'program' %}">Programs</a>
            </li>
            <li>
                <a href="{% url 'student'%}">Student</a>            
            </li>
        </ul>
    </li> 
    {% elif userrole == "Faculty" %}
    
    
    
    <li class="active">
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            {%if bcf.bcf_id == bcfid.bcf_id%}
            
            <li >
                <a href='/faculty/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}} </a>
            </li>
            {%else%}
            <li>
                <a href='/faculty/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}} </a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>
    </li>
    {% else %}
    <li class="active">
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Course</span>
        </a>
        <ul class="ml-menu">

            {%for bcf in bcf%}
            {%if bcf.bcf_id == bcfid.bcf_id%}
            <li class="active">
                <a href='/student/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}}</a>
            </li>
            {%else%}
            <li>
                <a href='/student/coursegallery/{{bcf.bcf_id}}' >{{bcf.bcf_courseid}}</a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>
    </li>
    {% endif %}
    
</ul>
{%endblock tabs%}
{% block body %}

<section class="content">
    <div class="container-fluid">
        <!-- No Header Card -->
        <div class="block-header">
            <h2><span>Course > Quiz</span></h2>
        </div>
        {%if quizzes%}
        <h3>Unsubmitted Quiz</h3>
        <div class="row">
            
            {%for quiz,enddate,quizsubmit,subdate,startdate in quizzes%}
            
            {% comment %} {%if assignmentsubmit == assignment.a_id%} {% endcomment %}
            {%if quizsubmit == ''%}
            {% if  enddate > date_time%}
            {%if startdate > date_time %}
            {%else %}
            <a href="{%url 'submitquiz' id=quiz.q_id%}" >
                {% comment %} {%url 'submitassignment' id=assignment.a_id%} {% endcomment %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        
                       
                        <div class="body  bg-cyan">
                            <h3>{{quiz.q_name}} </h3>
                            <h4>Start Date/Time :<br> {{quiz.q_startdate}}   </h4>
                            <h4>End Date/Time :<br> {{quiz.q_enddate}}</h4>
                            <h5> </h5>
                        </div>
                        
                    </div>
                </div>
                </a>
            {%endif%}
            
            {%else%}
            
                    {% comment %} {%url 'submitassignment' id=assignment.a_id%} {% endcomment %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    
                    
                    <div class="body  bg-red">
                        <h3>{{quiz.q_name}} </h3>
                        <h4>Start Date/Time :<br> {{quiz.q_startdate}}   </h4>
                        <h4>End Date/Time :<br> {{quiz.q_enddate}}</h4>
                        <h5>Late / Can't be Submitted</h5>
                    </div>
                   
                    
                </div>
            </div>
                {%endif%}
                {%endif%}
            {%endfor%}

        </div>
        <h3>Submitted Quiz</h3>
        <p>You can only view your result when the time is up.
        <div class="row">
            
            {%for quiz,enddate,quizsubmit,subdate,startdate in quizzes%}
            
            {% comment %} {%if assignmentsubmit == assignment.a_id%} {% endcomment %}
            {%if quizsubmit.qs_id is not None  %}
            
            <a href="{%url 'submittedquiz' id=quiz.q_id%}" >
                {% comment %} {%url 'submittedassignment' id=assignment.a_id%} {% endcomment %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        
                        <div class="body  bg-green">
                            <h3>{{quiz.q_name}} </h3>
                            <h4>Start Date/Time :<br> {{quiz.q_startdate}}   </h4>
                            <h4>End Date/Time :<br> {{quiz.q_enddate}}</h4>
                            <h5>Submitted </h5>
                        </div>
                       
                        
                    </div>
                </div>
                </a>
                
                {%endif%}
            {%endfor%}

        </div>
        {%else%}
        <p> No Quiz has been assigned.</p>
        {%endif%}
        <!-- #END# No Header Card -->
    </div>
</section>
{% endblock body %}