
{% extends 'dashboard.html' %}
{%block head%}
<style>
    input[type="radio"]{
        position : relative !important;
        left : 1px !important;
        opacity:1 !important;
    }
</style>
{%endblock head%}
{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Course > Quiz</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                        {{quiz.q_name}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                            
                                <form method="post">
                                    {% csrf_token %}
                                    
                                    {%for qq in quizquestions%}
                                        
                                        <p>{{qq.qq_question}}</p>
                                        
                                        <div class="demo-radio-button">
                                        <input name="question{{forloop.counter0}}" type="radio"  value="{{qq.qq_option1}}" />
                                        {{qq.qq_option1}}
                                           </br>
                                            <input name="question{{forloop.counter0}}" type="radio" class="radio-col-light-green" value="{{qq.qq_option2}}" />
                                            {{qq.qq_option2}}
                                            </br>
                                            <input name="question{{forloop.counter0}}" type="radio" class="radio-col-light-green" value="{{qq.qq_option3}}" />
                                            {{qq.qq_option3}}
                                            </br>
                                            <input name="question{{forloop.counter0}}" type="radio" class="radio-col-light-green" value="{{qq.qq_option4}}" />
                                            {{qq.qq_option4}}
                                            
                                        </div>
                                        <br>
                                        
                                  {%endfor%}  
                                  
                                    <input type="submit" name="btninsert" value="Submit" class="btn btn-success" /><br><br>     

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->
    </div>
</section>
{% endblock body %}
