{% extends 'dashboard.html' %}
{% block body %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Course</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Update Quiz 
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12"> 
                    <form  method="POST">
                        {% csrf_token %}
                        
                        <label>Quiz Title</label>
                        <div class="form-group">
                            <div class="form-line">
                            <input type="text" name="txtname" class="form-control inputelement" value="{{quiz.q_name}}" readonly disabled />
                            </div>
                        </div>
                        <label>Quiz Start Date and Time</label>
                        <br>
                        <p>Current Start Date/Time:  {{quiz.q_startdate}}</p>
                        <div class="form-group">
                            <div class="form-line">
                            <input type="datetime-local" name="stdate" class="form-control inputelement" value="{{quiz.q_startdate}}" required />
                            </div>
                        </div>
                        <label>Quiz End Date and Time</label>
                        <br>
                        <p>Current End Date/Time:  {{quiz.q_enddate}}</p>
                        <div class="form-group">
                            <div class="form-line">
                            <input type="datetime-local" name="enddate" class="form-control inputelement" value="{{quiz.q_enddate}}" required />
                            </div>
                        </div>
                        <label>Total Questions</label>
                        <div class="form-group">
                            <div class="form-line">
                            <input type="number" name="question" class="form-control inputelement" value="{{quiz.q_question}}" readonly disabled />
                            </div>
                        </div>
                        <input type="submit" name="btnupdate" value="Update" class="btn btn-success" />
                    <form>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->
    </div>
</section>



{% endblock body %}